* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url("../../assets/Poppins/Poppins-Regular.ttf");
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

