* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url("../../assets/Poppins/Poppins-Regular.ttf");
}

main {
  max-width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  max-height: max-content;
}

/* side-section */
.side-content-forgot {
  flex: 60%;
  background-color: rgba(51, 102, 255, 1);
}

.side-img-forgot {
  width: 50%;
}

/* main-section */
.main-header-forgot {
  flex: 40%;
}

.header-logo-forgot {
  margin-left: 10%;
  margin-top: 25%;
  width: 40%;
}

.title-text-forgot {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  margin-left: 10%;
  margin-top: 5%;
}

.welcome-text-forgot {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10%;
  flex-direction: row;
  margin-top: 2%;
}

.form-forgot {
  margin-top: 10%;
}

.form-container-forgot {
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5%;
  text-align: right;
}

input[type="email"],
input[type="password"] {
  font-size: 14px;
  font-weight: 400;
  padding-left: 10%;
  font-family: Poppins;
}

.form-input-forgot {
  background: #ffffff;
  border: 1px solid rgba(193, 197, 208, 1);
  color: black;
  border-radius: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 55px;
  border-radius: 20px;
  margin-bottom: 5%;
}

.forgot-pw-forgot {
  color: rgba(51, 102, 255, 1);
  background-color: white;
  border: 0;
  
}

.button-forgot {
  height: 55px;
  width: 100%;
  border-radius: 20px;
  margin-top: 5%;
  background: rgba(51, 102, 255, 1);
  border: 0;
  box-shadow: 0px 8px 10px 0px rgba(35, 149, 255, 0.3);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.button-forgot:hover {
  background: rgb(6, 66, 248);
}

@media (max-width: 1440px) {
  .header-logo-forgot {
    width: 40%;
  }
}

@media (max-width: 768px){
  .header-logo-forgot {
    width: 40%;
  }
  .title-text-forgot {
    font-size: 18px;
    font-weight: 600;
  }
  .welcome-text-forgot {
    font-size: 12px;
    font-weight: 500;
  }
  .form-container-forgot {
    font-size: 12px;
    font-weight: 500;
  }
  input[type="text"],
  input[type="password"] {
    font-size: 12px;
    font-weight: 400;
  }
  .form-input-forgot {
    font-size: 12px;
    font-weight: 400;
    height: 45px;
    border-radius: 15px;
  }
  .button-forgot {
    font-size: 14px;
    height: 45px;
    border-radius: 15px;
  }
}

@media (max-width: 425px){
  .header-logo-forgot {
    width: 30%;
  }
  .side-content-forgot {
    display: none;
  }
  .title-text-forgot {
    font-size: 14px;
    font-weight: 600;
  }
  .welcome-text-forgot {
    font-size: 10px;
    font-weight: 500;
  }
  .form-container-forgot {
    font-size: 10px;
    font-weight: 500;
  }
  input[type="text"],
  input[type="password"] {
    font-size: 10px;
    font-weight: 400;
  }
  .form-input-forgot {
    font-size: 10px;
    font-weight: 400;
  }
  .button-forgot {
    font-size: 12px;
  }
}