* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url("../../assets/Poppins/Poppins-Regular.ttf");
}

.page {
  background-color: rgb(236, 236, 236);
}
.signup {
  margin: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: fit-content;
  padding: 5%;
}

/* side-section */
.side-content-signup {
  flex: 50%;
  background-color: rgba(51, 102, 255, 1);
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.side-img-signup {
  width: 50%;
}

/* main-section */
.main-header-signup {
  flex: 50%;
  background-color: white;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.header-logo-signup {
  margin-left: 10%;
  margin-top: 5%;
  width: 40%;
}

.title-text-signup {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  margin-left: 10%;
  margin-top: 2%;
}

.welcome-signup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcome-text-signup {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10%;
  margin-bottom: 0;
}

.login-button {
  color: rgba(51, 102, 255, 1);
  background-color: white;
  border: none;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10%;  
  width: max-content;
}

.login-button:hover{
  color: rgb(8, 67, 245);
}

.form-signup {
  margin-top: 2%;
}

.form-container-signup {
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  font-size: 14px;
  font-weight: 400;
  padding-left: 10%;
  font-family: Poppins;
}

.form-input-signup {
  background: #ffffff;
  border: 1px solid rgba(193, 197, 208, 1);
  color: black;
  border-radius: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 55px;
  border-radius: 20px;
  margin-bottom: 5%;
}

.icon-eye-password {
  margin-bottom: 5%;
}

.button-signup {
  height: 55px;
  width: 80%;
  border-radius: 20px;
  margin-left: 10%;
  background: rgba(51, 102, 255, 1);
  border: 0;
  box-shadow: 0px 8px 10px 0px rgba(35, 149, 255, 0.3);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-bottom: 5%;
}

.button-signup:hover {
  background: rgb(6, 66, 248);
}

@media (max-width: 1440px) {
  .header-logo-signup {
    width: 40%;
  }
}

@media (max-width: 768px){
  .header-logo-signup {
    width: 40%;
  }
  .title-text-signup {
    font-size: 18px;
    font-weight: 600;
  }
  .welcome-text-signup {
    font-size: 12px;
    font-weight: 500;
  }
  .login-button {
    font-size: 12px;
    font-weight: 500;
  }
  .form-container-signup {
    font-size: 12px;
    font-weight: 500;
  }
  input[type="text"],
  input[type="password"] {
    font-size: 12px;
    font-weight: 400;
  }
  .form-input-signup {
    font-size: 12px;
    font-weight: 400;
    height: 45px;
    border-radius: 15px;
  }
  .button-signup {
    font-size: 14px;
    height: 45px;
    border-radius: 15px;
  }
  .alternative-signup {
    font-size: 12px;
    font-weight: 400;
  }
  .alternative-signup-button{
    width: 20%;
  }
}

@media (max-width: 425px){
  .header-logo-signup {
    width: 30%;
  }
  .side-content-signup {
    display: none;
  }
  .title-text-signup {
    font-size: 14px;
    font-weight: 600;
  }
  .welcome-text-signup {
    font-size: 10px;
    font-weight: 500;
  }
  .login-button {
    font-size: 10px;
    font-weight: 500;
  }
  .form-container-signup {
    font-size: 10px;
    font-weight: 500;
  }
  input[type="text"],
  input[type="password"] {
    font-size: 10px;
    font-weight: 400;
  }
  .form-input-signup {
    font-size: 10px;
    font-weight: 400;
  }
  .button-signup {
    font-size: 12px;
    margin-bottom: 0;
  }
}